.terms-container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  background: #fff;
  color: #333;
  line-height: 1.7;
  margin-top: 100px;
  margin-bottom: 100px;
}

.terms-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  margin-top: 25px;
  font-size: 24px;
  color: #222;
}

ul {
  margin-left: 20px;
}


a:hover {
  text-decoration: underline;
}
